@model WebTest.Models.Trainer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Trainer</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group">
    <h6 class="control-label col-md-2"><b>ID</b></h6>
    <div class="col-md-10">
        @Html.EditorFor(model => model.trainerId, new { htmlAttributes = new { @class = "form-control col-md-5", @Readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.trainerId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <h6 class="control-label col-md-2"><b>Name</b></h6>
    <div class="col-md-10">
        @Html.EditorFor(model => model.trainerName, new { htmlAttributes = new { @class = "form-control col-md-5" } })
        @Html.ValidationMessageFor(model => model.trainerName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <h6 class="control-label col-md-2"><b>Email</b></h6>
    <div class="col-md-10">
        @Html.EditorFor(model => model.trainerEmail, new { htmlAttributes = new { @class = "form-control col-md-5" } })
        @Html.ValidationMessageFor(model => model.trainerEmail, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <h6 class="control-label col-md-2"><b>Specially</b></h6>
    <div class="col-md-10">
        @Html.EditorFor(model => model.trainerSpecially, new { htmlAttributes = new { @class = "form-control col-md-5" } })
        @Html.ValidationMessageFor(model => model.trainerSpecially, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <h6 class="control-label col-md-2"><b>Age</b></h6>
    <div class="col-md-10">
        @Html.EditorFor(model => model.trainerAge, new { htmlAttributes = new { @class = "form-control col-md-5" } })
        @Html.ValidationMessageFor(model => model.trainerAge, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <h6 class="control-label col-md-2"><b>Address</b></h6>
    <div class="col-md-10">
        @Html.EditorFor(model => model.trainerAddress, new { htmlAttributes = new { @class = "form-control col-md-5" } })
        @Html.ValidationMessageFor(model => model.trainerAddress, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <h6 class="control-label col-md-2"><b>Account Role</b></h6>
    <div class="col-md-10">
        @Html.DropDownList("accountId", null, htmlAttributes: new { @class = "form-control col-md-5" })
        @Html.ValidationMessageFor(model => model.accountId, "", new { @class = "text-danger" })
    </div>
</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-block btn-primary col-md-2">Save</button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
