@model IEnumerable<WebTest.Models.Trainer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["accountRole"].ToString() == ("Admin") || Session["accountRole"].ToString() == ("Trainer"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Specially</th>
                <th>Age</th>
                <th>Address</th>
                <th>Account</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.trainerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.trainerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.trainerEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.trainerSpecially)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.trainerAge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.trainerAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.accountId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.trainerId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.trainerId }, new { onclick = "return confirm('Are you sure you wish to delete this trainer account?');" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Specially</th>
                <th>Age</th>
                <th>Address</th>
                <th>Account</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div class="error-page">
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Something wrong.</h3>

            <p>
                You have not been authorized to see this page, you may <a href="@Url.Action("Index", "Home")">return to index</a>.
            </p>
        </div>
    </div>
}
